//- message
//----------
mixin message
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 648})
			table(width='648', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:648px; width:100%;' bgcolor='#27ae61')
				tr
					td(align='center', valign='top')
						table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;')
							tr
								td(align='center' height="65" valign='middle')
									p(style="font-family: Roboto, sans-serif; font-size:16px;line-height:16px;font-weight: 300;text-transform:uppercase; color:#ffffff") Отель забронирован
			+ie-close

//- main
//----------
mixin main
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 648})
			table(width='648', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:648px; width:100%;',bgcolor='#ffffff')
				tr
					td(align='center', valign='top')
						+ie-open({table: 600})
						table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;')
							tr
								td(align='center', valign='top', style='padding-top:32px;padding-bottom:32px;')
									img(src="https://gallery.mailchimp.com/11b2ba62a2d4d21ef7a3daad5/images/91670e84-a4e5-4733-ab94-e249d8bf1365.png", alt="Ваш отель забронирован")
							tr
								td(align='left', valign='top', style='padding-bottom:24px;')
									.h1 Cпасибо, Ваше бронирование подтверждено.
									p.p Ваш номер бронирования в системе City.Travel: 
										b 1195939
										br
										|В приложении Вы найдете ваучер в формате Adobe Reader (PDF). 
							tr
								td(align='left', valign='top', style='padding-bottom:8px;')
									.h2 Подтверждение бронирования отеля
							tr
								td
									table( border="0" cellpadding="0" cellspacing="0" width='100%' bgcolor='#4a90e2' style="text-align:left;border-spacing:0;width:100%;")
										tr
											td(width="20%" valign="middle" style="padding:6px 16px; color:white;") Отель&nbsp;
												br
												span(style="font-family: Roboto, sans-serif;font-size: 14px; font-style:italic") Hotel
											td(width="80%"  valign="middle" style="padding:6 px 16px;")
												.title Boutique Hotel Calatrava
												img.stars(src="https://gallery.mailchimp.com/11b2ba62a2d4d21ef7a3daad5/images/139e643d-cb77-4fd6-a01a-8df325ec2d08.png",  width="80", height="16" alt="5 звезд")
							
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#d2e5f9")
										tr
											td.cell(width='34%', align='left', valign='middle', style='font-family: Roboto, sans-serif; padding-left:16px;padding-top:8px;padding-bottom:8px;') 
												| Адрес
												br
												span.eng Adress
											td.cell(width='66%', align='left', valign='middle', style='padding-right:16px;padding-top:8px;padding-bottom:8px;')
												table( border="0" cellpadding="0" cellspacing="0" width='100%')
													tr
														td.cell(align='left', valign='top') 
															img(src="https://gallery.mailchimp.com/11b2ba62a2d4d21ef7a3daad5/images/b7a370f9-578b-4410-ba5d-3eda0fad0855.jpg", alt="Испания"  width="20" height="15" border="0")
															span(style="font-family: Roboto, sans-serif; Margin-left:0.5em;") Испания, Пальма-Де-Майорка, Пальма-Де-Майорка
													tr
														td(style="Margin-bottom:8px;Margin-top:8px; line-height:1.3;border-bottom: 1.5px dashed #999999; padding-bottom:6px;")
													tr
														td.cell(align='left', valign='middle') 
															img(src="https://gallery.mailchimp.com/11b2ba62a2d4d21ef7a3daad5/images/b7a370f9-578b-4410-ba5d-3eda0fad0855.jpg", alt="Испания" style="Margin-top:6px;" width="20" height="15" border="0")
															span.eng(style="Margin-left:0.5em;") Spain , Palma De Mallorca , Placa Llorenc Villalonga, 8, Palma De Mallorca
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#edf4fc")
										tr
											td.cell(width='34%', align='left', valign='top', style='font-family: Roboto, sans-serif; padding-left:16px;padding-top:8px;padding-bottom:8px;') 
												| Номер
												br
												span.eng Room Type
											td.cell(width='66%', align='left', valign='middle', style='padding-right:16px;padding-top:8px;padding-bottom:8px;')
												span(style="font-family: Roboto, sans-serif;") DELUXE ROOMNON-REFUNDABLE	
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#d2e5f9")
										tr
											td.cell(width='34%', align='left', valign='top', style='font-family: Roboto, sans-serif; padding-left:16px;padding-top:8px;padding-bottom:8px;') 
												| Питание
												br
												span.eng Meal Type
											td.cell(width='66%', align='left', valign='middle', style='font-family: Roboto, sans-serif; padding-right:16px;padding-top:8px;padding-bottom:8px;')
												| Только завтрак 
												span.eng / Breakfast (Завтрак включен)
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#edf4fc")
										tr
											td.cell(width='34%', align='left', valign='top', style='font-family: Roboto, sans-serif; padding-left:16px;padding-top:8px;') Кол-во ночей
												br
												span.eng Nights
											td.cell(width='66%', align='left', valign='top', style='padding-right:16px;padding-top:8px;')
												table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='width:100%;')
													tr
														td(width='50%', align='left', valign='top' style="font-family: Roboto, sans-serif;") Дата заезда
															br
															span.eng Arrival
														td(width='50%', align='left', valign='top' style="font-family: Roboto, sans-serif;")
															| Дата выезда
															br
															span.eng Departure
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#edf4fc")
										tr
											td.cell(width='34%', align='left', valign='top', style='padding-left:16px;padding-top:8px;padding-bottom:8px;font-family: Roboto, sans-serif;') 
												| 3 ночи, 1 номер									
											td.cell(width='66%', align='left', valign='top', style='padding-right:16px;padding-top:8px;padding-bottom:8px;')
												table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='width:100%;')
													tr
														td(width='50%', align='left', valign='top' style="padding-right:8px;")
															span(style="font-weight:bold;font-family: Roboto, sans-serif;") 11.07.2017
																br 
																| вторник 
															span.eng Tuesday
														td(width='50%', align='left', valign='top')
															span(style="font-weight:bold;font-family: Roboto, sans-serif;") 14.07.2017
																br 
																| пятница 
															span.eng Friday
							tr
								td(align='center', valign='top')
									table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#d2e5f9")
										tr
											td.cell(width='34%', align='left', valign='top', style='font-family: Roboto, sans-serif;padding-left:16px;padding-top:8px;padding-bottom:8px;') 
												| Гости
												br
												span.eng Guests
											td.cell(width='66%', align='left', valign='middle', style='font-family: Roboto, sans-serif; padding-right:16px;padding-top:8px;padding-bottom:8px;')
												span OBRAZTCOV SERGEI,  ERMAKOV ALEXEI
						+ie-close
				tr
					td(align='center', valign='top')
						+ie-open({table: 600})
						table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;' bgcolor="#FFFFFF")
							tr
								td( style='padding-bottom:24px;')
									p(style="Margin:16px 0 6px 0;font-family: Roboto, sans-serif;") Проживание в отеле полностью оплачено. Оплата в отеле не требуется.
									span.eng Accommodation is FULLY PREPAID, only extra may be collected from client.
							tr
								td(align='left', valign='top' style='padding-bottom:4px;')
									.h2 Условия отмены бронирования
							tr
								td
									p.p2 Бесплатная отмена бронирования до 28.11.2017.
										br
										| С 28.11.2017 cтоимость отмены бронирования 11486 р.
									p.eng(style="font-weight:400; font-size:14px;") Free cancellation to 28.11.2017 from 28.11.2017 cancellation fee is 11486 rub.
							tr
								td(height="16") &nbsp;
							tr
								td(align='left', valign='top' style='padding-bottom:4px;')
									.h2 Важная информация
							tr
								td(style='padding-bottom:4px;')
									p.p2 Если вы прибываете в отель после 18:00 по местному времени, настоятельно рекомендуем Вам заранее предупредить об этом отель через вашего агента.
										br
										| С 28.11.2017 cтоимость отмены бронирования 11486 р.
									p.eng(style="font-weight:400; font-size:14px;") 
										| По правилам отеля при регистрации вас могут попросить предъявить кредитную карту или наличный депозит как гарантию оплаты дополнительных услуг в отеле.
										| Неиспользованный депозит возвращается при выписке.
									p.eng(style="font-weight:400; font-size:14px;") Возможно взимание городских налогов и сборов. Подробнее на сайте 
										a(href="https://city.travel/info/tourtaxes" style="border-bottom: #3498db 1px solid; color: #3498db !important; text-decoration: none;") https://city.travel/info/tourtaxes
							tr
								td(style='padding-bottom:24px;')
									p.p2 В случае неприбытия (no show) или несвоевременной аннуляции, взимает штраф в размере 100%стоимости.
									p.eng(style="font-weight:400; font-size:14px;") 
										| In case of late cancellation or no-show you will be charged full reservation cost.
						+ie-close
			+ie-close