//- grid-fluid-one
//---------------
mixin grid-fluid-one
  table(width='648', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:648px; width:100%;', bgcolor='#FFFFFF')
    tr
      td(align='center', valign='top', style='padding:10px;')
        table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;')
          tr
						td

//- grid-fluid-two
//---------------
mixin grid-fluid-two
table(width='640', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:640px; width:100%;', bgcolor='#FFFFFF')
  tr
    td(align='center', valign='top', style='padding:10px;')
      table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='max-width:600px; width:100%;')
        tr
          td(width='32%', align='center', valign='top', style='padding:10px;')
            | Grid 2
          td(width='68%', align='center', valign='top', style='padding:10px;')
            | Grid 2