//- grid-one
//---------------
mixin grid-one
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 640})
			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;" bgcolor="#ffffff")
				tr
					td
			+ie-close

//- grid-two
//---------------
mixin grid-two
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 640})
			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;" bgcolor="#ffffff")
				tr
					td(align="center" valign="top" style="font-size:0;")
						+ie-open({table: 640, cell:320})
						div(style="display:inline-block; max-width:320px; vertical-align:top; width:100%;")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:320px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Two
						+ie-col({cell:320})
						div(style="display:inline-block; max-width:320px; vertical-align:top; width:100%;")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:320px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Two
						+ie-close
			+ie-close

//- grid-three
//--------------
mixin grid-three
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 640})
			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;" bgcolor="#ffffff")
				tr
					td(align="center" valign="top" style="font-size:0;")
						+ie-open({table: 640, cell:210})
						div(style="display:inline-block; max-width:210px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:210px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Trhee
						+ie-col({cell:210})
						div(style="display:inline-block; max-width:210px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:210px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Trhee
						+ie-col({cell:210})
						div(style="display:inline-block; max-width:210px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:210px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Trhee
						+ie-close
			+ie-close


//- grid-four
//--------------
mixin grid-four
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 640})
			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;" bgcolor="#ffffff")
				tr
					td(align="center" valign="top" style="font-size:0;")
						+ie-open({table: 640, cell:160})
						div(style="display:inline-block; max-width:160px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:160px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Four
						+ie-col({cell:160})
						div(style="display:inline-block; max-width:160px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:160px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Four
						+ie-col({cell:160})
						div(style="display:inline-block; max-width:160px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:160px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Four
						+ie-col({cell:160})
						div(style="display:inline-block; max-width:160px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:160px;" )
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Four
						+ie-close
			+ie-close

//- grid-five
//--------------
mixin grid-five
	tr
		td(align="center" height="100%" valign="top" width="100%")
			+ie-open({table: 640})
			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px;" bgcolor="#ffffff")
				tr
					td(align="center" valign="top" style="font-size:0;")
						+ie-open({table: 640, cell:128})
						div(style="display:inline-block; max-width:128px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:128px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Five
						+ie-col({cell:128})
						div(style="display:inline-block; max-width:128px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:128px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Five
						+ie-col({cell:128})
						div(style="display:inline-block; max-width:128px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:128px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Five
						+ie-col({cell:128})
						div(style="display:inline-block; max-width:128px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:128px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Five
						+ie-col({cell:128})
						div(style="display:inline-block; max-width:128px; vertical-align:top; width:100%;" class="mobile")
							table( align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:128px;")
								tr
									td(align="center" valign="top" style="font-size:14px; padding:10px;")  Grid Five
						+ie-close
			+ie-close




